.App {
  background: rgb(221, 221, 221);
  min-height: 100vh;
  line-height: 1.6;
}

.page {
  display: flex;
  flex-direction: column;
}

.top {
  min-height: 83vh;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  background: #55bedb;
}

.user {
  color: white;
}

.App-link {
  color: #61dafb;
}

.post {
  z-index: 1;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.411);
  background: white;
}

.post h3 {
  display: flex;
  justify-content: center;
}

.content {
  margin-left: 1rem;
  padding: 0.8rem;
}

.col {
  max-width: 40%;
  min-width: 20rem;
  margin: 0 auto;
}

.add-post {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background: white;
  padding: 0.8rem;
}

.add-post input,
textarea {
  border: none;
  padding: 1rem;
  background: rgb(238, 237, 237);
  margin-top: 1rem;
  border-radius: 1rem;
}

.add-post input,
textarea:focus {
  outline: none;
}

.add-post button {
  margin-top: 1rem;
  padding: 0.8rem;
  border: none;
  background: #61dafb;
  color: white;
  font-size: 1rem;
  border-radius: 1rem;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.add-post button:active {
  background: #52bbd8;
}

.add-post h3 {
  display: flex;
  justify-content: center;
}

.edit-btn {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: none;
  background: #61dafb;
  color: white;
}

.edit-btn:active {
  background: #52bbd8;
}

.remove-btn {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: none;
  background: #ff4a4a;
  color: white;
}

.remove-btn:active {
  background: #c73838;
}

.edit {
  position: absolute;
  opacity: 0;
  box-shadow: 0 1px 1px 0 rgba(41, 41, 41, 0.315);
  transform: translateY(-100%);
  transition: all 0.5s ease;
  pointer-events: none;
  z-index: 0;
}

.edit.show {
  transform: translateY(0);
  position: relative;
  opacity: 100%;
  pointer-events: all;
}

.nav-link {
  color: white;
  margin-left: 0.8rem;
  text-decoration: none;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.profile {
  margin-top: 2rem;
}

.row {
  display: flex;
}

.buttons {
  flex: 1;
}

.silent {
  font-size: 0.9rem;
  color: rgb(133, 128, 128);
}

.footer {
  justify-content: space-around;
  background: white;
  display: flex;
  align-items: center;
  margin-top: 4.1rem;
  padding: 0.9rem;
}

.cancel {
  background: white;
}
